/*@author Ertuğrul Yakın*/
#pane {
    -fx-background-image: url("../../resources/login/bg_login.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#blurRect {
    -fx-background-image: url("../../resources/login/bg_login_form.png");;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#logo {
    -fx-image: url("../../resources/login/logo@2x.png");
    -fx-blend-mode: DIFFERENCE;
}

.inputs {
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-prompt-text-fill: #707070;
    -fx-font-size: 1.3em;
}

#btnLogin {
    -jfx-button-type: RAISED;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.jfx-button {
    -fx-background-color: #16A3BA;
    -fx-opacity: .7;
    -fx-background-insets: 0px;
    -fx-background-radius: 12px;
}

.jfx-combo-box {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-padding: 0.333333em 1.4em 0.333333em 1.4em;
}

.jfx-text-field {
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: #16A3BA;
    -fx-padding: 0.333333em 1.4em 0.333333em 1.4em;
}
