#HBox {
    -fx-background-color: #292b2a;
}
#HBoxBTN {
    -fx-background-color: #CE7725;
    -fx-background-radius: 5;
}
#LBL1 {
    -fx-border-color: black;
    -fx-border-width: 1 0 1 1;
}
#LBL2 {
    -fx-border-color: black;
    -fx-border-width: 1;
}
#LBL3 {
    -fx-border-color: black;
    -fx-border-width:  0 0 1 1;
}
#LBL4{
    -fx-border-color: black;
    -fx-border-width:  0 1 1 1;
}

#tableLeft {
    -fx-border-width: 1;
    -fx-border-color: #707070;
}

#tableRight {
    -fx-border-width: 1;
    -fx-border-color: #707070;
    -fx-background-color: #75E5E1;
}

