/*@author Ertuğrul Yakın*/

#mainContainer {

    -fx-background-color: white;
}

.tableColLabel {
    -fx-text-fill: black;
    -fx-font-family: "Sitka Small";
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;

}

.btn {
    -fx-background-color: #CE7725;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
}

.tableContainer {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 5%;
}

.tableLabel {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-font-family: "Sitka Small";
    -fx-text-fill: white;
}

.tableLabelContainer {
    -fx-background-image: url("../../resources/personel/bgTableLabel.png");
    -fx-background-size: cover;
}

.textFields {
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-style: solid;
}
.jfx-text-field {
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: #16A3BA;
}