#HBox {
    -fx-background-color: #292b2a;
}
#TextInput {
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: black;
}
#workLBL {
    -fx-border-width: 1;
    -fx-border-color: black;
}
#leftworkLBL {
    -fx-border-width:1;
    -fx-border-color: black;
    -fx-background-radius: 5;
}
#workMLBL {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: black;
}
#rightworkMLBL {
    -fx-border-color: black;
    -fx-border-width: 0 1 0 1;
}

#etiketBTN {
    -fx-background-color: #CE7725;
    -fx-background-radius: 5;
}