.jfx-text-field {
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: #16A3BA;
    -fx-padding: 0.333333em 1.4em 0.333333em 1.4em;
}
#TextInput {
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: black;
}
#SearchBTN,#RefreshBTN,#SelectBTN,#deleteBTN,#editBTN {
    -fx-background-color: #CE7725;
    -fx-background-radius: 5;
}