/*@author Ertuğrul Yakın*/
#header {
    -fx-background-color: #4E4E4E;
}

#logoContainer {
    -fx-background-color: #333333;
}

#logoutBtn {
    -fx-background-color: #4E4E4E;
}
#logoutBtn:hover {
    -fx-background-color: #757575;
}

#tabView {
    -fx-background-color: #23BFCB;
}

.btnTabs {
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-font-family: Calibri;
    -fx-alignment: center-left;
}

.tabs {
    -fx-background-color: #1A8C94;
}

.tabIconContainer {
    -fx-background-color: #177A81;
    -fx-padding: 0;
}

.mDropText {
    -fx-text-fill: white;
    -fx-font-size: 1.4em;
    -fx-font-family: Calibri;
    -fx-padding: 10;
}

.jfx-combo-box {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-background-color: white;
}

.headerUserInfo {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 1.5em;
}

#tabContentContainer {
    -fx-background-color: #E6E6EA;
}

.tabBarTop {
    -fx-background-color: #383838;
}

.tabBarTopBtn {
    -fx-text-fill: white;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}