#HBox {
    -fx-background-color: #292b2a;
}
#TextInput {
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: black;
}
#SearchBTN,#RefreshBTN,#SelectBTN {
    -fx-background-color: #CE7725;
    -fx-background-radius: 5;
}